/*<meta />*/

@media only screen and (max-width: 767px)
{
	.toolbar-buttons
	{
		top: 67px;
	}

	.button
	{
		background-position: center center;
		background-repeat: no-repeat;
		background: #313131;
		background: -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: linear-gradient(#313131, #313131);
	}

	.button.print-button
	{
		display: none;
		background: #313131 url('Images/printer.png') no-repeat center center;
		background: url('Images/printer.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/printer.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/printer.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/printer.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/printer.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/printer.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/printer.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.remove-highlight-button
	{
		display: none;
		background: #313131 url('Images/highlight.png') no-repeat center center;
		background: url('Images/highlight.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/highlight.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/highlight.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/highlight.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/highlight.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/highlight.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/highlight.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	#contentBodyInner
	{
		top: 98px;
	}

	.tree-node .new-indicator
	{
		width: 7px;
		height: 7px;
	}

	#index .tree-node > div
	{
		
	}

	#navigation
	{
		background: #19191a url('Images/background pattern.png') repeat;
		-pie-background: #19191a url('Skins/Default/Stylesheets/Images/background pattern.png') repeat;
	}

	.tab
	{
		
	}

	.tab-collapsed .tabs-nav-text
	{
		
	}

	.tabs
	{
		
	}

	.tabs li
	{
		
	}

	.tabs li span
	{
		
	}

	.tabs-nav
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li
	{
		
	}

	.tabs-nav li div span
	{
		
	}

	.tab-icon #TocTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/ResponsiveTOCInactive.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/ResponsiveIndexInactive.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/ResponsiveGlossaryInactive.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/ResponsiveBrowseSequenceInactive.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/communityInactive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-inactive .tabs-nav-icon
	{
		background-position: 11px center;
		margin: 0;
		background: transparent url('Images/ResponsiveSearchFilterInactive.png') no-repeat 11px center;
	}

	.tab-icon #TocTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/ResponsiveTOCActive.png') no-repeat 11px center;
	}

	.tab-icon #IndexTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background-repeat: no-repeat;
		background: transparent url('Images/ResponsiveIndexActive.png') no-repeat 11px center;
	}

	.tab-icon #GlossaryTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/ResponsiveGlossaryActive.png') no-repeat 11px center;
	}

	.tab-icon #BrowseSequencesTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/ResponsiveBrowseSequenceActive.png') no-repeat 11px center;
	}

	.tab-icon #CommunityTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/communityActive.png') no-repeat 11px center;
	}

	.tab-icon #SearchTab.tabs-nav-active .tabs-nav-icon
	{
		background-position: 11px center;
		background: transparent url('Images/ResponsiveSearchFilterActive.png') no-repeat 11px center;
	}

	.tabs-panel
	{
		
	}

	.tabs-panel-content
	{
		background: #19191a url('Images/background pattern.png') repeat;
		-pie-background: #19191a url('Skins/Default/Stylesheets/Images/background pattern.png') repeat;
	}

	#search-sidebar
	{
		
	}

	#home
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	#home-text
	{
		line-height: 40px;
	}

	#home-icon
	{
		background-repeat: no-repeat;
		background-position: 11px center;
	}

	#responsiveHeader .logo
	{
		width: 234px;
		background: transparent url('Images/CompanyLogo.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/CompanyLogo.png') no-repeat center center;
	}

	#responsiveHeader .logo > img
	{
		width: 234px;
		height: 55px;
	}

	/* Navigation slide out Styles*/

	#contentBody[role="main"]
	{
		width: 100%;
	}

	.hide-extras.active [role="main"]
	{
		width: 80%;
	}

	.hide-extras.active #navigation[role="complementary"]
	{
		width: 80%;
		display: block;
	}

	.active #contentBody[role="main"]
	{
		margin-right: -80%;
	}

	/*Offcanvas styles for pane position set right*/

	html.right-layout .active #contentBody[role="main"]
	{
		margin-right: 80%;
	}

	.non-collapsable
	{
		width: 100%;
	}

	.show-for-xlarge-up
	{
		display: none !important;
	}

	#responsiveHeader
	{
		background: transparent url('Images/background pattern.png');
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/background pattern.png');
	}

	body
	{
		background: transparent url('Images/background pattern.png');
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/background pattern.png');
	}

	#browseSequences.tabs-panel-content
	{
		background-repeat: repeat;
		background: #19191a none;
		-pie-background: #19191a;
	}

	#community.tabs-panel-content
	{
		background: #19191a url('Images/background pattern.png') repeat;
		-pie-background: #19191a url('Skins/Default/Stylesheets/Images/background pattern.png') repeat;
	}

	#glossary.tabs-panel-content
	{
		background-repeat: repeat;
		background: #19191a none;
		-pie-background: #19191a;
	}

	#index.tabs-panel-content
	{
		background-repeat: repeat;
		background: #19191a none;
		-pie-background: #19191a;
	}

	#index .tree-node.tree-node-expanded > div
	{
		padding-left: 37px;
		background: transparent url('Images/index-expanded.png') no-repeat left 10px center;
	}

	#index .tree-node.tree-node-collapsed > div
	{
		padding-left: 37px;
		background: transparent url('Images/index-collapsed.png') no-repeat left 10px center;
	}

	#index .tree-node.tree-node-leaf > div
	{
		padding-left: 37px;
	}

	#search.tabs-panel-content
	{
		background-repeat: repeat;
		background: #19191a none;
		-pie-background: #19191a;
	}

	#toc.tabs-panel-content
	{
		background-repeat: repeat;
		background: #19191a none;
		-pie-background: #19191a;
	}

	.tree-node div .label
	{
		
	}

	.tree-node div
	{
		
	}

	.tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-color: #949494;
	}

	.tree-node.tree-node-expanded.tree-node-selected > div
	{
		background-color: #949494;
	}

	.tree-node.tree-node-collapsed.tree-node-selected > div
	{
		background-color: #949494;
	}

	#index .tree-node.tree-node-leaf.tree-node-selected > div
	{
		background-color: #949494;
		background-position: 10px center;
	}

	#index .tree-node.tree-node-expanded.tree-node-selected > div
	{
		background-color: #949494;
	}

	#index .tree-node.tree-node-collapsed.tree-node-selected > div
	{
		background-color: #949494;
	}

	.menu-icon a span
	{
		background: transparent url('Images/ResponsiveMenuButton.png') no-repeat center center;
		-pie-background: transparent url('Skins/Default/Stylesheets/Images/ResponsiveMenuButton.png') no-repeat center center;
	}

	.tabs-nav li.tab-collapsed
	{
		
	}

	.tabs-nav li.tabs-nav-active .tabs-nav-text
	{
		
	}

	.tabs-nav li.tabs-nav-active
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#CommunityTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#IndexTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#SearchTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li#TocTab.tabs-nav-active
	{
		background: #4d4d4d;
		background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#4d4d4d));
		background: -webkit-linear-gradient(top, #4d4d4d 0%, #4d4d4d 100%);
		background: -o-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: -ms-linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		background: linear-gradient(top, #4d4d4d 0%,#4d4d4d 100%);
		-pie-background: linear-gradient(#4d4d4d, #4d4d4d);
	}

	.tabs-nav li.tabs-nav-inactive .tabs-nav-text
	{
		
	}

	.tabs-nav li.tabs-nav-inactive
	{
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
		background-clip: padding-box;
	}

	.tabs-nav li#BrowseSequencesTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	.tabs-nav li#CommunityTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	.tabs-nav li#GlossaryTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	.tabs-nav li#IndexTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	.tabs-nav li#SearchTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	.tabs-nav li#TocTab.tabs-nav-inactive
	{
		background: #222222;
		background: -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: linear-gradient(#222222, #222222);
	}

	#search-field-sidebar
	{
		background: #222222 url('Images/ResponsiveSearch.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(#222222, #222222);
	}

	#responsive-search-index
	{
		background: #222222 url('Images/ResponsiveSearch.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(#222222, #222222);
	}

	#responsive-search-glossary
	{
		background: #222222 url('Images/ResponsiveSearch.png') no-repeat 8px center;
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -moz-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(100%,#222222));
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -webkit-linear-gradient(top, #222222 0%, #222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -o-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, -ms-linear-gradient(top, #222222 0%,#222222 100%);
		background: url('Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(top, #222222 0%,#222222 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/ResponsiveSearch.png') no-repeat 8px center, linear-gradient(#222222, #222222);
	}

	#search-field::-webkit-input-placeholder
	{
		
	}

	#search-field::-moz-placeholder
	{
		
	}

	#search-field:-moz-placeholder
	{
		
	}

	#search-field:-ms-input-placeholder
	{
		
	}

	.button.collapse-all-button
	{
		background: #313131 url('Images/collapse.png') no-repeat center center;
		background: url('Images/collapse.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/collapse.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/collapse.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/collapse.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/collapse.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/collapse.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/collapse.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.current-topic-index-button
	{
		background-repeat: no-repeat;
		text-shadow: none;
		-webkit-text-shadow: none;
		-moz-text-shadow: none;
		background: #313131;
		background: -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: linear-gradient(#313131, #313131);
	}

	.button.edit-user-profile-button
	{
		background: #313131 url('Images/edit-profile.png') no-repeat center center;
		background: url('Images/edit-profile.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/edit-profile.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/edit-profile.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/edit-profile.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/edit-profile.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/edit-profile.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/edit-profile.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.expand-all-button
	{
		background: #313131 url('Images/expand.png') no-repeat center center;
		background: url('Images/expand.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/expand.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/expand.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/expand.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/expand.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/expand.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/expand.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.login-button
	{
		background: #313131 url('Images/login.png') no-repeat center center;
		background: url('Images/login.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/login.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/login.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/login.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/login.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/login.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/login.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.next-topic-button
	{
		background: #313131 url('Images/navigate-next.png') no-repeat center center;
		background: url('Images/navigate-next.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/navigate-next.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/navigate-next.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/navigate-next.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/navigate-next.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.previous-topic-button
	{
		background: #313131 url('Images/navigate-previous.png') no-repeat center center;
		background: url('Images/navigate-previous.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/navigate-previous.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/navigate-previous.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/navigate-previous.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.select-language-button
	{
		background: #313131 url('Images/select-language.png') no-repeat center center;
		background: url('Images/select-language.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/select-language.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/select-language.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/select-language.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/select-language.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/select-language.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/select-language.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.select-skin-button
	{
		background: #313131 url('Images/select-skin.png') no-repeat center center;
		background: url('Images/select-skin.png') no-repeat center center, -moz-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/select-skin.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#313131));
		background: url('Images/select-skin.png') no-repeat center center, -webkit-linear-gradient(top, #313131 0%, #313131 100%);
		background: url('Images/select-skin.png') no-repeat center center, -o-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/select-skin.png') no-repeat center center, -ms-linear-gradient(top, #313131 0%,#313131 100%);
		background: url('Images/select-skin.png') no-repeat center center, linear-gradient(top, #313131 0%,#313131 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/select-skin.png') no-repeat center center, linear-gradient(#313131, #313131);
	}

	.button.topic-ratings-button
	{
		background: transparent url('Images/starFull.png') no-repeat center center;
		background: url('Images/starFull.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/starFull.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/starFull.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/starFull.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/starFull.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/starFull.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/starFull.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	.button.topic-ratings-empty-button
	{
		background: transparent url('Images/StarrEmpty.png') no-repeat center center;
		background: url('Images/StarrEmpty.png') no-repeat center center, -moz-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/StarrEmpty.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,transparent));
		background: url('Images/StarrEmpty.png') no-repeat center center, -webkit-linear-gradient(top, transparent 0%, transparent 100%);
		background: url('Images/StarrEmpty.png') no-repeat center center, -o-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/StarrEmpty.png') no-repeat center center, -ms-linear-gradient(top, transparent 0%,transparent 100%);
		background: url('Images/StarrEmpty.png') no-repeat center center, linear-gradient(top, transparent 0%,transparent 100%);
		-pie-background: url('Skins/Default/Stylesheets/Images/StarrEmpty.png') no-repeat center center, linear-gradient(transparent, transparent);
	}

	.toolbar-button-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-language-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	.toolbar-button-drop-down.select-skin-drop-down
	{
		background-color: #FFFFFF;
	}

	.toolbar-button-drop-down.select-skin-drop-down ul li:hover
	{
		background-color: #E5EFF7;
	}

	.button-separator
	{
		
	}

	#contentBody
	{
		background-repeat: no-repeat;
		background-color: #555555;
	}
}

